* {
    background-image:url(./fondo.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}
section {
    position: relative; /* le dice a un elemento que se mueva con respecto a otro elemento. (activa la opcion de top) mas abajo se explica) */
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 130px; /* este estilo se activa con una posicion relativa, indicanto un margen superior*/
    /*border: 2px solid white; /* agrega un corde de 2px color blanco en forma de linea */
}

.avatar {
    width: 200px; /* indica el ancho de un elemento */
    height: 200px; /* indica el alto */ 
    border-radius: 50%; /* crea un borde redondo indicado en % , para lograr un circulo */
    display: block; /* Le dice a cada elemento como debe comportarse como bloque o lineal*/
    margin: 0 auto; 
    border: 2px solid black;
}

.name {
    text-align: center; /* alinea el texto de forma centrada */ 
    font-size: 45px;/* tamaño de la fuente */ 
    color: rgb(105, 34, 34);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.career {
    text-align: center; /* alinea el texto de forma centrada */ 
    font-size: 35px;/* tamaño de la fuente */ 
    color: rgb(48, 78, 249);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description {
    text-align: center; /* alinea el texto de forma centrada */ 
    font-size: 20px;/* tamaño de la fuente */ 
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    padding: 10px;
    border: 5px solid rgb(227, 223, 223);
    margin: 0 auto;
}

.links {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto; /*  Centra un elemento de tipo bloque */
}

a {
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    color: white;
    display: block;
    text-align: center;
}

.instagram {
    background-color: rgb(251, 144, 105);
}
.instagram:hover {
    background-color: orangered;
    position: relative;
    bottom: 1px;
}

.facebook {
    background-color: rgb(142, 164, 254);
    position: relative;
    bottom: 1px;
}
.facebook:hover {
    background-color: rgb(38, 78, 237);
    position: relative;
    bottom: 1px;
}

.linkedin {
    background-color: rgb(99, 123, 220);
    position: relative;
    bottom: 1px;
}

.twitter {
    background-color: rgb(48, 200, 255);
    position: relative;
    bottom: 1px;
}